$primary: linear-gradient(180deg, rgba(0, 144, 159, .2) 0%, rgba(1, 57, 64, .1) 100%);
$BodyBg:#071c21;
$ContainerWidth: 1920px;
$boder:1px solid #00a8b9;
$bRadius:4px;
$design_width: 1920px;//设计稿的宽度，根据实际项目调整
$design_height: 1080px;//设计稿的高度，根据实际项目调整
